<div class="table_buttons">
	<%= link_to "Ajouter", request.path + "/new", class: "add" %>
	<a class="edit" href="#">Editer</a>
	<a class="delete" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
</div>