<div class="table_buttons">
	<p>Actions</p>
	<p>
    <%= if !Snaptable.use_permission || current_permission.allow_create?(params[:controller]) %>
		  <%= link_to "Ajouter", request.path + "/new", class: "add" %>
    <% end %>
    <% if !Snaptable.use_permission || current_permission.allow_modify?(params[:controller], "update") %>
		  <a class="edit" href="#">Editer</a>
    <% end %>
    <% if !Snaptable.use_permission || current_permission.allow_modify?(params[:controller], "destroy") %>
		  <a class="delete" href="#" data-method="delete" 
      rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">
        Supprimer
      </a>
    <% end %>
	</p>
</div>